
.contactme>h1{
    text-align: center;
}
.contactme>h3{
    font-size: 18px;
    font-weight: 400;
    padding-left: 5%;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
    
}
.cont> button{
  display: flex;
}

button{
    background-color: #282c34;
    color: white;
    margin-top: 20px;
    padding: 10px 100px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
button:hover{
    background-color: #828385;
    transition: 0.5s;

}
