body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color:	#282c34;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    font-size: 18px;
    font-weight: 600;
    
   
}
.header> .nav-items{
    display: flex;
    color: white;
    
}
.header> .nav-items> li{
    padding-right: 10px;
    text-decoration: none;
    display: block;
}